{{ define "main" }}
{{ partial "page-header" . }}


<section class="section">
  {{ range .RegularPages.ByWeight }}
  <div class="container my-8">
    <div class="flex flex-col gap-x-12 md:flex-row m-3">
      <img class="column-4 mb-6 rounded-lg object-contain w-full max-w-md h-72" src="{{ .Params.image | relURL }}" />
      <div class="column-8">
        <h1 class="text-dark dark:text-darkmode-dark block text-xl">
          {{ .Title }}
        </h1>{{ .Content | markdownify }}
      </div>
    </div>
  </div>
  {{ end }}
</section>
{{ end }}